/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

/* Reset Point */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.65;
}

img {
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #000;
    color: #fff;
}

.container {
    margin-top: 25%;
    text-align: center;
}

.title2 {
    color:aqua
}